// General
$color-primary			: #515151; 
$color-active			: #46BE8A; 
$color-default			: #848484; 
$color-secondary		: #EEEEEE; 
$color-light-gray		: #b5b5b5;
$color-white 			: #ffffff; 

// Font Color
$font-color-primary		: $color-primary; 
$font-color-active		: $color-active; 
$font-color-default		: $color-default; 
$font-color-secondary	: $color-secondary; 
$font-color-light-gray  : $color-light-gray;

// Body Color
$body-bg				: #f7f7f7;

// Navbar Color
$navbar-bg-primary		: $color-white;
$navbar-bg-default		: #E9E9E9;
$navbar-bg-secondary	: #EEEEEE; 

// Misc
$line-color-default		: #E6E8E6; 
$border-color-default 	: #eee; 

// Content color
$content-bg				: $color-white;