// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.25;
$text-color: $font-color-primary;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;