.fa-animate {
	.fa{
		-webkit-transition: 0.7s ease-in-out;
	    -moz-transition: 0.7s ease-in-out;
	    -o-transition: 0.7s ease-in-out;
	    transition: 0.7s ease-in-out;
	}
}

.dropdown.open .fa-animate {
	.fa{
		transform: rotate(-180deg);
	}
}