// Fonts Import
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// Typography
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
p {
	font-size : 14px;
}
label {
	font-weight: 600 !important;
}

.print-area {
	h1 {
		font-size: 14px;
	}
	h2 {
		font-size: 12px;
	}
	p {
		font-size : 10px;
	}
}
.text-light { font-weight: 				$font-light; }
.text-regular { font-weight: 			$font-regular; }
.text-bold { font-weight: 				$font-bold; }
.title-section{ font-size: 				16px; }
.text-sm { font-size: 					11px; }
.text-sm { font-size: 					12px; }
.text-md { font-size: 					14px; }
.text-lg { font-size: 					16px; }
