// Forms ======================================================================

.form-control, input, select {
	border-width: 1px;
	height: 38px;
	padding: 8px 15px;
	@include box-shadow(none);
	&:focus {
		@include box-shadow(none);
	}
	border-radius: 2px;
}
.input-group-addon {
	border-width: 1px !important;
}
.no-resize { resize: none; }
.help-block { font-size: 11px !important; }

.form-group{
	.input_loader{
		background-color: white !important; 
		border-color:white !important; 
		color: #46BE8A !important;
		visibility: hidden;
	}	
}

// select 2 error state on disable 
.form-group.has-error{
	.select2-selection {
	    border-color: #e74c3c !important;
	}
}