.navbar {
	border: none !important;
	border-radius : 0px !important;

	.navbar-right{
		margin-right: 0px;
	}

	.navbar-brand {
		border-right: 2px solid $line-color-default;

		@media (max-width: $screen-sm - 1) {
			border: 0;
			padding: 10px 20px;
			float: none;
		}
	}
	.navbar-header {
		@media (max-width: $screen-sm - 1) {
			border-bottom: 1px solid $line-color-default;
		}
	}
}

nav {
	&.topbar {
		.list-organisation a {
			font-size: 13px;
		}
		.profile ul {
			li {
				display: table-cell;
				padding: 3px 20px;
				vertical-align: middle;
				font-size: 13px;
				.name {
					margin-top: 5px;
					font-weight: 600;
					font-size: 13px;
					color: $font-color-primary;	
				}
				.role {
					font-size: 12px;
					margin-bottom: 5px;
				}
			}
		}
		.btn-link {
			color: $font-color-primary !important;
		}
	}
	&.layer1 {
		margin-top: 50px;
		padding: 0px;
		background: $navbar-bg-default; 
		min-height: 35px;

		.menu-list {
			.active {
				a {
					border-top: 2px solid $color-active; 
					background: $navbar-bg-primary;
					padding: 6px 16px 10px 16px;
				    border-bottom: 1px solid $navbar-bg-primary;				
				}
			}
			a {
				color: $font-color-primary;	
				padding: 8px 16px;
				
				&:hover {
					background: $navbar-bg-primary;
				}			
			} 
		}
	}
	&.layer2 {
		margin-top: 85px;
		padding: 0px;
		background: $navbar-bg-primary; 
		min-height: 35px;
		border-bottom: 1px solid $line-color-default !important;

		.tab-pane {
			display: none; 
		}

		.active {
			display: block;
		}

		.menu-list {
			left: 0;
	    	position: fixed;

			.active {
				a {
					color: $font-color-active;
					border-bottom: 2px solid $color-active; 
					background: $navbar-bg-primary;
					padding: 9px 16px;
					padding-bottom: 7px;
				}
			}
			a {
				color: $font-color-primary;	
				padding: 8px 16px;
				
				&:hover {
					color: $font-color-active;
					background: $navbar-bg-primary;
				}	

				&:focus {
					background: $navbar-bg-primary; 
				}
			} 
		}
	}
}

.nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	width: 100%;
	li {
		float: none;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&::-moz-scrollbar {
		display: none;
	}
}