.panel-workspace{
	padding-top: 120px;

	.panel-workspace-container{
		background: $navbar-bg-primary;
		min-height: calc(100vh - 120px);
		// border: 1px solid $line-color-default;

		h1, p{
			margin: 0px;
		}

		.panel-workspace-header {
			padding: 16px;
			border-bottom: 1px solid $line-color-default;
			overflow: hidden;

			.title {
				color: $font-color-primary;
			}	
				
		}

		.panel-workspace-content {
			// border-bottom: 1px solid $line-color-default;
			// overflow: auto;		

			.field{
				margin: 0;
			}
		}
	}
	@media (max-width: $screen-sm - 1) {
		padding-top: 54px;
	}
}

@import "panels/images";

@media screen and (max-width: 767px) {
	.mobile-padding{
		padding-left: 16px;
		padding-right: 16px;
	}
}

.sidebar-responsive{
	border-right: 1px solid #E8E8E8;
	border-bottom: none;
}

@media screen and (max-width: 767px) {
	._window.no-window-mobile{
		height: auto!important;
	}
	.sidebar-responsive{
		border-right: none;
		border-bottom: 1px solid #E8E8E8;
		padding-bottom: 20px;
		margin-bottom: 25px;
	}
}