.panel-workspace{
	padding-top: 135px;

	.panel-workspace-container{
		background: $navbar-bg-primary;
		border: 1px solid $line-color-default;

		h1, p{
			margin: 0px;
		}

		.panel-workspace-header {
			padding: 16px;
			border-bottom: 1px solid $line-color-default;
			overflow: hidden;

			.title {
				color: $font-color-primary;
			}	
				
		}

		.panel-workspace-content {
			border-bottom: 1px solid $line-color-default;
			// overflow: auto;		

			.field{
				margin: 0;
			}
		}
	}
}