.content-sidebar{
	border-right: 1px solid $border-color-default;
	padding-right: 0px;
	padding-left: 0px;

	.sidebar-header{
		border-bottom: 1px solid $border-color-default;

		.title{
			padding-top: 16px; 
			padding-left: 16px; 
			padding-right: 16px; 
			// padding-bottom: 4px;

			h2{
				margin-top: 0px;
				margin-bottom: 5px;
			}
		}

		.search{
			padding-left: 16px; 
			padding-right: 16px;

			.input-group{
				width: 100%;

				.form-control{
					padding-left: 0px; 
					padding-right: 10px; 
					border: none; 
					color: $font-color-light-gray ; 
					border-bottom: 1px solid $color-light-gray; 
					border-radius: 0;

					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $font-color-light-gray;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: $font-color-light-gray;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: $font-color-light-gray;
					}
					:-moz-placeholder { /* Firefox 18- */
					  color: $font-color-light-gray;
					}			

					&:hover, &:focus, &:active {
						color: $font-color-primary; 
						border-bottom: 1px solid $color-primary; 
					}	
				}
			}

			.group-btn-search{
			    position: absolute;
			    right: 37px;
			    z-index: 3;		

				.btn{
				    background: white;
					color: $font-color-light-gray; 
				    border: none;
				    padding-right: 4px;
				    padding-left: 4px;

					&:hover, &:focus, &:active {
						box-shadow: none;
						outline: none;
						color: $font-color-primary; 
					}			    
				}

				.clear-search{
					margin-right:2px;
				}
				.clear-search.disabled{
				    color: transparent;
				    background: transparent;
				}

			}
		}

		.filters{
			margin-left:0px;
			margin-right:0px;

			.dropdown.open {
			    background: transperant;
			}

			.dropdown.open .dropdown-toggle {
			    color: $font-color-active;
			}			


			.btn{
				margin-top: 2px;
				padding-left: 0px;
				background-color: transperant !important;
				color: $font-color-primary; 
				border: none;

				&:hover, &:focus, &:active {
					color: $font-color-active; 
				}				
			}

			//.input-group-addon{
			//	padding:0px;
			//	border:none;
			//	background-color: transparent;
			//}
			.left{
				padding-right:0px;
			}	

			.right{
				padding-left:0px;
			}
		}
	}

	.sidebar-content{
		.list-group{
			.list-group-item.first{
				border-top: none !important;
			}
			.list-group-item{
				border:none;
				border-top: 1px solid $border-color-default;
				margin-bottom:0px;
				padding: 12px 15px;

				h4{
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 7px;
				}

				.badge{
					font-size: 12px;
					font-weight: 100;
				}

				p{
					font-size: 12px;
				}
			}

			.list-group-item.active{
				z-index: 0;
			}
		}
	}
	.sidebar-footer{
		height: 39px;
		border-top: 1px solid $border-color-default;
	}

	@media (max-width: $screen-sm - 1) {
		border: 0 !important;
	}
}