.step {
	border-top: 1px solid $border-color-default;
	.step-content {
		height: 38px; 
		overflow: hidden;  
		width: 100%; 
		div {
			float: left;
		}
		.triangle {
			width: 95%;
			a {
				background: white;
				border: 0 !important;
				color: $color-active;
				float: left; 
				text-align:center;
				position: relative;
				opacity: 1 !important; 
			}
			&::after, &::before {
				border-top: 19px solid transparent;
				border-bottom: 19px solid transparent;
				border-left: 1em solid;
				content: "";
				margin-top: -19px;   
				position: absolute;
				top: 50%;
				right: 2px;
			}
			&::after {
				border-left-color: white;
				z-index: 1;
			}
			.disabled {
				&::after {
					border-left-color: white;
					color: white;
					z-index: 1;
				}
			}
		}
		.active { 
			a {
				background: $color-active;
				color: $color-white;
				float: left; text-align:center;
				opacity: 1 !important; 
				position: relative;
				&.disabled {
					background: $color-active;
					color: $color-white;
					float: left; text-align:center;
					position: relative;
				}
			}
			&::after {
				border-left-color: $color-active;
				color: white;
				z-index: 1;
			}
		}
		.last {
			.active {
				&::after {
					border-left-color: $color-active;
					color: white;
					z-index: 1;
				}
			}
		}
		.disabled {
			a {
				background: white;
				color: $color-default;
				float: left; text-align:center;
				opacity: 1 !important;
				position: relative;
			}
		}
	}
}