#step{   overflow: hidden;  height: 37px; width: 100%; }
#step div{  float: left; }
#step .triangle a{
  float: left; text-align:center;
  color: $color-active;
  position: relative;
  background: white;
  opacity: 1 !important; 
}

#step .triangle::after,
#step .triangle::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;   
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
#step .triangle::after{   	
	z-index: 1;
	border-left-color: white;   
}

#step .active a{
  float: left; text-align:center;
  color: $color-white;
  position: relative;
  background: $color-active;
  opacity: 1 !important; 
}
#step .active a.disabled{
  float: left; text-align:center;
  color: $color-white;
  position: relative;
  background: $color-active;
}
#step .active::after{   	
	z-index: 1;
	color: white;
	border-left-color: $color-active;   
}
#step .last.active::after{     
  z-index: 1;
  color: white;
  border-left-color: $color-active;   
}

#step .disabled a{
  float: left; text-align:center;
  color: $color-default;
  position: relative;
  background: white;
  opacity: 1 !important; 
}
#step .triangle.disabled::after{   	
	z-index: 1;
	color: white;
	border-left-color: white;   
}