.step {
	border-bottom: 1px solid $border-color-default;
	.step-content {
		height: 38px; 
		overflow: hidden;  
		width: 100%; 
		.state {
			border-right: 1px solid $border-color-default;
			color: $color-default;
			height: 38px;
			padding: 5px;
			padding-top: 10px;
			width: 16.6%;
			font-size: 12px;
			&.active {
				background-color: $color-active;
				color: $color-white;
				border-right: 0;
			}
			&.complete {
				background-color: lighten($color-active, 15%);
				color: lighten($color-white, 15%);
				border-right: 0;
			}
			&.failed {
				background-color: $brand-danger;
				color: $color-white;
				border-right: 0;
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
	div {
		float: left;
	}
}