.menu-tabs {
	position: relative;
	height: 40px;
	overflow: hidden;
	border-bottom: 1px solid $line-color-default !important;
	.arrow-left, .arrow-right {
		position: absolute;
		top: 0;
		background-color: $color-white;
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 11px;
		padding-bottom: 11px;
		z-index: 9;
		i {
			margin-top: 3px;
		}
	}
	.arrow-left {
		left: 0;
		margin-left: 0;
	}
	.arrow-right {
		right: 0;
		margin-right: 0;
	}
	.tab-lists {
		position: absolute;
		border-bottom: 0 !important;
		min-width: 1500px;
		.list-item {
			// padding: 10px 20px;
			// &:hover {
			// 	background-color: $color-active;
			// 	a {
			// 		color: $color-white;
			// 	}
			// }
			// a {
			// 	// border: 0 !important;
			// 	// padding: 0 !important;
			// 	&:hover {
			// 		background-color: transparent !important; 
			// 		border: 0;
			// 		// padding: 0 !important;
			// 	}
			// }
			&.active {
				a {
					background-color: transparent !important;
					border: 0;
					border-bottom: 3px solid $color-active;
					padding-bottom: 10px !important;
				}
			}
		}
	}
}